.divProfilTuteurHote {
    margin-top: 70px;
    margin-left: 50px;
}
.titreProfilTuteurHote{
    font-size: 40px;
    color: #E1E1E1;
}
.nomDuStagiaire{
    color: #010101;
    font-weight: 700;
    font-size: 20px;
    margin-top: 25px;
}
.btnContacterModifier{
    margin-top: 20px;
    margin-bottom: 50px;
}
.divTuteurEntrepriseProfil{
    padding-top: 30px;
}
