.h2Tache{
    font-size: 18px;
    color: #212121;
    font-weight: 500;
    margin-bottom: 25px;
}
.divTachesStagiaire{
    background-color: #fff;
    padding: 20px;
    margin-top: 30px;
}
.titreTache{
    font-size: 16px;
    font-weight: 600;
    color: #3F4254;
}
.dateTache{
    color: #B5B5C3;
    font-size: 13px;
    font-weight: 500;
    margin-top: 5px;
}
.resumeTache{
    color: #3F4254;
    margin-top: 25px;
    font-size: 14px;
    text-align: justify;
}
.nombreCommentaires{
    font-size: 13px;
    font-weight: 600;
    color: #7E8299;
    margin-left: 10px;
}
.commentairesEtoiles{
    margin-top: 25px;
}
