.nomTuteur {
    font-size: 18px !important;
    font-weight: 600;
}
.solganTuteur {
    font-size: 11px !important;
    color: #B5B5C3;
}
.avatarTuteur {
    max-width: 100%;
    height: auto;
}
.nombreStagiares{
    color: #8950FC;
    font-size: 27px;
    font-weight: 700;
    margin-top: 10px;
}
.divAvatarTuteur{
    width: 91px;
    height: 91px;
    margin-left: 20px;
    margin-top: 10px;
}
.buttonAssocierStagiaire{
    margin-top: 50px;
}
.sesStagiaires{
    font-size: 12px;
    font-weight: 600;
    color: #B5B5C3;
}
.divAvatarStagiaire {
    width: 50px;
    height: 50px;
}
.nomStagiaire{
    font-weight: 600;
    font-size: 14px;
}
.entrepriseHote {
    font-size: 13px;
    font-weight: 500;
    color: #B5B5C3;
}
.tuteurDeStage{
    font-size: 43px;
    font-weight: 300;
    color: #B5B5C3;
    margin-top: 30px;
    margin-bottom: 30px;

}
