.h2StagiaireActif {
    font-size: 43px !important; 
    color: #B5B5C3;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
.h2Archive {
    font-size: 43px !important; 
    color: #B5B5C3;
    margin-bottom: 30px !important;
}
.buttonMessage{
    margin-top: 40px;
    
    }